.primary-menu__sub-link {
    font: 400 20px/26px "Raleway", Arial, sans-serif;
    color: #333;
    text-decoration: none;
}

.primary-menu__sub-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1439px) {

    .primary-menu__sub-link {
        font: 400 16px/19.2px "Raleway", Arial, sans-serif;
    }
}

@media screen and (max-width: 749px) {

    .primary-menu__sub-link {
        font: 400 14px/16.8px "Raleway", Arial, sans-serif;
    }
}
