.primary-menu {
    position: fixed;
    top: -500px;
    left: 0;
    right: 0;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1439px) {

    .primary-menu {
        overflow: auto;
        height: calc(100% - 80px);
    }
}