.social__images {
  margin-bottom: -158px;
  position: relative;
}

@media screen and (max-width: 1439px) {
  .social__images {
    margin-bottom: calc((100vw * -38) / 768);
  }
}

@media screen and (max-width: 767px) {
  .social__images {
    margin-bottom: -60px;
    width: 300px;
    align-self: center;
  }
}
