.donation-form__pay-ways-button {
    width: 186px;
    height: 48px;
    border: 1px solid #DADADA;
    border-radius: 10px;
}

.donation-form__pay-ways-button:hover {
    border: 1px solid #00275C;
}

.radio-button:checked + .donation-form__pay-ways-button {
    border: 1px solid #0C4BA0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .donation-form__pay-ways-button {
        width: 190px;
        height: 48px;
    }
}

@media screen and (max-width: 767px) {
    .donation-form__pay-ways-button {
        width: 260px;
        height: 44px;
    }
}