.btn {
    font: 500 20px/24px "Raleway", Arial, sans-serif;
    border-radius: 10px;
    border: 1px solid #0C4BA0;
    padding: 12px 30px;
    cursor: pointer;
}

@media screen and (max-width: 1439px) {

    .btn {
        font: 500 16px/19.2px "Raleway", Arial, sans-serif;
        padding: 12.5px 18.5px;
    }
}