.donations__button-title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .donations__button-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .donations__button-title {
        font-size: 14px;
    }
}