.accordion__element {
  align-self: flex-start;
  padding: 30px 20px;
  border: 2px solid #DADADA;
  border-radius: 30px;
}

@media screen and (max-width: 1279px) {
  .accordion__element {
    border-radius: 20px;
  }
}

@media screen and (max-width: 779px) {
  .accordion__element {
    border-radius: 15px;
    border: 1px solid #DADADA;
    padding: 16px;
  }
}
