.digits {
  max-width: 1440px;
  margin: 150px auto 100px;
  padding: 0 40px;
}

@media screen and (max-width: 1279px ) {
  .digits {
    margin-top: 100px;
  }
}

@media screen and (max-width: 767px) {
  .digits {
    margin-top: 64px;
    padding: 0 10px;
  }
}
