.digits__image {
  max-width: 555px;
  max-height: 368px;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1279px) {
  .digits__image {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .digits__image {
    box-shadow: none;
    border-radius: 20px;
    display: block;
    margin-top: 24px;
  }
}
