.footer__about-everland {
    display: flex;
    flex-direction: column;
    max-width: 413px;
}

@media screen and (max-width: 779px) {
    .footer__about-everland {
        max-width: 300px;
        font-size: 12px;
    }
}