.donations__fieldset {
    border: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 58px 54px 58px 30px;
}

@media screen and (min-width: 768px) and (max-width: 1360px) {
    .donations__fieldset {
        gap: 10px;
        padding: 32px 24px 36px 24px;
    }
}

@media screen and (max-width: 767px) {
    .donations__fieldset {
        padding: 32px 20px;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
        width: 300px;
    }
}
