.button-link {
  border: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .button-link {
    font-size: 16px;
  }
}

@media screen and (max-width: 779px) {
  .button-link {
    font-size: 14px;
  }
}