.button-link {
  border: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-start;
  padding: 12px 44px 12px 10px;
  background-repeat: no-repeat;
  background-position: right 10px bottom 50%;
  background-size: 16px 16px;
}

@media screen and (max-width: 1279px) {
  .button-link {
    font-size: 16px;
    padding: 12px 32px 12px 10px;
    background-size: 13.33px 13.33px;
  }
}

@media screen and (max-width: 767px) {
  .button-link {
    font-size: 14px;
    padding: 12px 32px 12px 10px;
    background-size: 12px 12px;
  }
}