.footer__lisenses {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    padding-top: 48px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 1279px) {
    .footer__lisenses {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        max-width: 336px;
        padding-top: 0px;
    }
}

@media screen and (max-width: 779px) {
    .footer__lisenses {
        font-size: 12px;
    }
}