.digits__subtitle {
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
}

@media screen and (max-width: 1279px) {
  .digits__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .digits__subtitle {
    font-size: 14px;
  }
}
