.donation-form__two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .donation-form__two-columns {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        gap: 50px;
    }
}

@media screen and (max-width: 767px) {
    .donation-form__two-columns {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        gap: 32px;
    }
}