@media screen and (max-width: 1279px) {
  .stories_violet-card-size {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 767px) {
  .stories_violet-card-size {
    width: 80px;
    height: 80px;
  }
}