.special-projects {
  box-sizing: border-box;
  margin: 150px auto 0;
  padding: 0 40px 0;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .special-projects {
    margin-top: 100px;
    padding: 0 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .special-projects {
    margin-top: 64px;
    padding: 0 10px 0;
  }
}
