.special-projects {
  padding: 0 40px 0;
  width: 100%;
  box-sizing: border-box;
  margin: 150px auto 0;
  position: relative;
}

@media screen and (max-width: 1439px) {
  .special-projects {
    padding: 0 40px 0;
    margin-top: 100px;
  }
}

@media screen and (max-width: 767px) {
  .special-projects {
    padding: 0 10px 0;
    margin-top: 64px;
  }
}
