.for-whom__card-title {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    font-size: 34px;
    line-height: 40.8px;
    font-weight: 700;
    color: #333333;
}

@media screen and (max-width: 1279px) {
    .for-whom__card-title {
        font-size: 26px;
        line-height: 120%;
        padding-top: 20px;
    }
}

@media screen and (max-width: 779px) {
    .for-whom__card-title {
        max-width: 231px;
        font-size: 18px;
        padding-top: 20px;
    }
}