.header__menu {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    margin-left: 90px;
}

@media screen and (max-width: 1439px) {

    .header__menu {
        order: 1;
        margin-left: 0;
    }

}