.stories__story-long-container {
  display: flex;
  flex-direction: row;
  gap: 19px;
}

@media screen and (max-width: 1279px) {
  .stories__story-long-container {
    flex-direction: column;
    gap: 8px;
  }
}