.agency__caption {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
  margin: 20px 0 0 0;
}
