.agency__caption {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
  margin: 20px 0 0 0;
}

@media screen and (max-width: 1279px) {
  .agency__caption {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .agency__caption {
    margin-top: 16px;
  }
}
