.donations__donate-button_other-sum {
    width: 211px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .donations__donate-button_other-sum {
        width: 135px;
    }
}

@media screen and (max-width: 767px) {
    .donations__donate-button_other-sum {
        width: 260px;
        margin: 0;
        font-size: 14px;
    }
}
