.accordion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  gap: 20px;
}

@media screen and (max-width: 1279px) {
  .accordion {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .accordion {
    gap: 16px;
  }
}
