.stories__container-story-short {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

@media screen and (max-width: 1279px) {
  .stories__container-story-short {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .stories__container-story-short {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
    gap: 16px;
  }
}