.special-projects__button {
  width: 194px;
  box-sizing: border-box;
  margin: 0 0 auto;
  padding: 12px 35px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .special-projects__button {
    width: 100%;
    text-align: center;
    margin-top: 9px;
  }
}
