.special-projects__button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 0 auto;
  padding: 12px 37px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  align-self: flex-start;
}

@media screen and (max-width: 1279px) {
  .special-projects__button {
    padding: 12px 53px;
  }
}

@media screen and (max-width: 767px) {
  .special-projects__button {
    margin-top: 9px;
    width: 100%;
  }
}
