.news__date {
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: rgba(38, 38, 38, 0.5);
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .news__date {
    font-size: 14px;
    line-height: 120%;
  }
}

@media screen and (max-width: 767px) {
  .news__date {
    font-size: 12px;
  }
}
