.news__date {
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #333333;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .news__description {
    font-size: 16px;
    line-height: 120%;
  }
}

@media screen and (max-width: 767px) {
  .news__description {
    font-size: 14px;
  }
}