.footer__columns {
    display: flex;
    flex-direction: row;
    column-gap: 145px;
}

@media screen and (max-width: 1279px) {
    .footer__columns {
        column-gap: 55px;
        padding-top: 7px;
    }
}

@media screen and (max-width: 779px) {
    .footer__columns {
        padding-top: 38px;
        column-gap: 18px;
    }
}