.agency__mapping {
  max-width: 1440px;
  margin: auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .agency__mapping {
    padding: 0 10px;
  }
}
