.footer__phone {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    min-width: 151px;
}

@media screen and (max-width: 1279px) {
    .footer__phone {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
    }
}

@media screen and (max-width: 779px) {
    .footer__phone {
        font-size: 12px;
        max-width: 112px;
        min-width: 102px;
    }
}