.footer__support-icons {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 50px;
    padding-top: 19px;
}

@media screen and (max-width: 1279px) {
    .footer__support-icons {
        column-gap: 25px;
        padding-left: 16px;
    }
}

@media screen and (max-width: 779px) {
    .footer__support-icons {
        padding-left: 12px;
        column-gap: 20.53px;
    }
}