.slider__switcher-text {
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
  display: none;
  padding: 0 2px;
}

@media screen and (max-width: 1439px) {
  .slider__switcher-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .slider__switcher-text {
    font-size: 14px;
  }
}
