.agency__veiw {
  padding: 12px 16px;
  width: 204px;
  height: 48px;
  border: 1px solid #0C4BA0;
  border-radius: 10px;
  background-color: transparent;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #0C4BA0;
  align-self: center;
  margin: 49px 0 100px 0;
  cursor: pointer;
}

.agency__veiw:hover {
  border-color: #00275C;
  color: #00275C;
}

.agency__veiw:active {
  border: none;
  background-color: #00275C;
  color: #FFFFFF;
}

.agency__veiw[disabled] {
  background-color: #F5F5F5;
  border: 2px solid #C4C4C4;
  color: rgba(38, 38, 38, 0.5);
}

@media screen and (max-width: 1279px) {
  .agency__veiw {
    width: 200px;
    height: 44px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .agency__veiw {
    width: 280px;
    height: 44px;
    font-size: 14px;
  }
}
