.stories__play-name {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

@media screen and (max-width: 1279px) {
  .stories__play-name {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .stories__play-name {
    font-size: 12px;
  }
}