.button-link_color_white {
    color: #333333;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%23333333' fill-rule='evenodd' d='M8 0 6.59 1.41 12.17 7H0v2h12.17l-5.58 5.59L8 16l8-8-8-8Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.button-link_color_white:hover {
    color: #00275C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%2300275C' fill-rule='evenodd' d='M8 0 6.59 1.41 12.17 7H0v2h12.17l-5.58 5.59L8 16l8-8-8-8Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}