.footer__address {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    max-width: 313px;
}

@media screen and (max-width: 1279px) {
    .footer__address {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
    }
}

@media screen and (max-width: 779px) {
    .footer_address {
        font-size: 12px;
    }
}