.donation-form__pay-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    gap: 20px;
    padding: 30px 0 23px 0;
    margin: 0;
}

@media screen and (max-width: 1280px) {
    .donation-form__pay-type {
        gap: 16px;
        padding: 30px 0 32px 0;
    }
}
