.stories__story-short {
  padding: 30px;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1279px) {
  .stories__story-short {
    align-items: center;
    padding: 20px;
    gap: 17px;
  }
}

@media screen and (max-width: 767px) {
  .stories__story-short {
    padding: 16px;
  }
}