.donation-form__supporter-text {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #333333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .donation-form__supporter-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .donation-form__supporter-text {
        font-size: 14px;
    }
}