.footer__social-icon {
    background-size: contain;
    border-radius: 10px;
    max-width: 64px;
    background-color: #0C4BA0;
}

@media screen and (max-width: 1279px) {
    .footer__social-icon {
        max-width: 40px;
    }
}