    .footer__social-icon {
        max-width: 64px;
        object-fit: cover;
        background-color: transparent;
    }
    
    @media screen and (max-width: 1279px) {
        .footer__social-icon {
            max-width: 40px;
        }
    }