.for-whom__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 100px 40px 150px;
}

@media screen and (max-width: 1279px) {
    .for-whom__cards {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
}

@media screen and (max-width: 779px) {
    .for-whom__cards {
        gap: 16px;
    }
}