.special-projects__image {
  object-fit: cover;
  width: 555px;
  height: 393px;
  border-radius: 30px;
}

@media screen and (max-width: 1439px) {
  .special-projects__image {
    border-radius: 10px;
    width: calc((100vw * 259) / 768);
    height: calc((100vw * 284) / 768);
  }
}

@media screen and (max-width: 767px) {
  .special-projects__image {
    width: 100%;
    height: calc((100vw * 180) / 320);
  }
}
