.special-projects__title {
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #333333;
  max-width: 603px;
  margin: 0;
  padding: 43px 0 0;
}

@media screen and (max-width: 1439px) {
  .special-projects__title {
    font-size: calc((100vw * 36) / 768);
    padding-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .special-projects__title {
    font-size: 26px;
    max-width: 100%;
    padding-top: 8px;
  }
}
