.directions__main-text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

@media screen and (max-width: 1279px) {
  .directions__main-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 779px) {
  .directions__main-text {
    font-size: 14px;
  }
}