.directions__main-text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  padding-bottom: 90px;
}

@media screen and (max-width: 1279px) {
  .directions__main-text {
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 19.2px;
  }
}

@media screen and (max-width: 767px) {
  .directions__main-text {
    padding-bottom: 24px;
    font-size: 14px;
    line-height: 16.8px;
  }
}