.special-projects__slider-switcher {
  position: absolute;
  bottom: 30px;
  right: 50%;
  left: 50%;
}

@media screen and (max-width: 767px) {
  .special-projects__slider-switcher {
    right: 35px;
    top: 24px;
    bottom: unset;
    left: unset;
  }
}
