.special-projects__slider-switcher {
  bottom: 30px;
  left: 50%;
  right: 50%;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .special-projects__slider-switcher {
    bottom: unset;
    left: unset;
    right: 35px;
    top: 24px;
  }
}
