.donation-form__agreements-title {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #333333;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 1280px) {
    .donation-form__agreements-title {
        font-size: 12px;
    }
}
