.donation-form__agreements-title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #333333;
    text-align: center;
    padding-left: 8px;
}

@media screen and (max-width: 1280px) {
    .donation-form__agreements-title {
        font-size: 12px;
    }
}
