.footer__support-icon-beline {
    object-fit: cover;
    max-width: 100px;
}

@media screen and (max-width: 1279px) {
    .footer__support-icon-beline {
        max-width: 55.85px;
    }
}

@media screen and (max-width: 779px) {
    .footer__support-icon-beline {
        max-width: 47.47px;
    }
}