.agency__heading {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #333333;
  margin: 0 0 20px 0;
  padding-top: 100px;
}

@media screen and (max-width: 1279px) {
  .agency__heading {
    font-size: 36px;
    max-width: 394px;
    padding-top: 50px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .agency__heading {
    font-size: 26px;
    max-width: 300px;
    padding-top: 32px;
    margin-bottom: 10px;
  }
}
