.footer__author {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    column-gap: 20.66px;
}

@media screen and (max-width: 1279px) {
    .footer__author {
        row-gap: 8px;
        column-gap: 10.61px;
    }
}

@media screen and (max-width: 779px) {
    .footer__author {
        flex-direction: column;
        row-gap: 8px;
    }
}