.header__buttons {
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 1439px) {
    .header__buttons {
        gap: 8px;
    }
}

@media screen and (max-width: 749px) {

    .header__buttons {
        display: none;
    }
}