.stories__story-a {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 19px;
  padding-bottom: 150px;
}

@media screen and (max-width: 1279px) {
  .stories__story-a {
    padding-bottom: 28px;
    align-items: center;
    gap: 32px;
  }
}

@media screen and (max-width: 767px) {
  .stories__story-a {
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 36px;
    gap: 10px;
  }
}