.stories__play-img {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1279px) {
  .stories__play-img {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 779px) {
  .stories__play-img {
    width: 24px;
    height: 24px;
  }
}