.donations__supply-button {
  text-align: center;
  background: #0C4BA0;
  border-radius: 10px;
  border: none;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  margin-left: 50px;
  padding: 12px 30px;
  cursor: pointer;
}

.donations__supply-button:hover {
  background: #4183DC;
}

.donations__supply-button:focus {
  background: #00275C;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .donations__supply-button {
    margin-left: 12px;
    font-size: 16px;
    padding: 12.5px 23px;
  }
}

@media screen and (max-width: 767px) {
  .donations__supply-button {
    padding: 13.5px 87.5px;
    margin: 16px 0 0 0;
    font-size: 14px;
    border-radius: 8px;
  }
}
