.footer__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 1279px) {
    .footer__title {
        font-size: 20px;
    }
}

@media screen and (max-width: 779px) {
    .footer__title {
        font-size: 16px;
    }
}