.footer__support-icon-fond {
    max-width: 100px;
}

@media screen and (max-width: 1279px) {
    .footer__support-icon-fond {
        max-width: 70px;
    }
}

@media screen and (max-width: 779px) {
    .footer__support-icon-fond {
        max-width: 72.67px;
    }
}