.donation-form__paragraph {
    padding: 0 0 24px 0;
    margin: 0;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #333333;
    width: 652px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .donation-form__paragraph {
        font-size: 14px;
        padding: 0 0 14px 0;
        width: 633px;
    }
}

@media screen and (max-width: 767px) {
    .donation-form__paragraph {
        font-size: 12px;
        padding: 0 0 32px 0;
        width: 263px;
    }
}