.stories__subtitle {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 700;
  line-height: 120%;
}

@media screen and (max-width: 1279px) {
  .stories__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 779px) {
  .stories__subtitle {
    font-size: 16px;
  }
}