.donation-form__supporters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
    from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .donation-form__supporters {
        gap: 26px;
    }
}

@media screen and (max-width: 767px) {
    .donation-form__supporters {
        gap: 16px;
        min-width: 300px;
    }
}
