.directions__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

@media screen and (max-width: 1279px) {
  .directions__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .directions__cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}