@media screen and (min-width: 768px) and (max-width: 1280px) {
    .donation-form__donate-button_other-sum {
        width: 190px;
        height: 44px;
    }
}

@media screen and (max-width: 767px) {
    .donation-form__donate-button_other-sum {
        width: 260px;
        height: 44px;
    }
}