.donation-form__donate-button_other-sum {
  padding: 11px 11px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .donation-form__donate-button_other-sum {
    padding: 11.5px 40px;
    max-width: 190px;
  }
}

@media screen and (max-width: 767px) {
  .donation-form__donate-button_other-sum {
    padding: 12.5px 81.5px;
    max-width: 260px;
  }
}
