.donations {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #E7F0FF;
    border-radius: 10px;
    margin: 90px 0 50px 0;
    width: 100%;
    max-width: 1360px;
    justify-content: center;

}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .donations {
        width: 90%;
        margin: 50px 0 50px 0;
    }
}

@media screen and (max-width: 767px) {
    .donations {
        margin: 40px 0 32px 0;
    }
}
