.footer__link {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-decoration: none;
    color: #333333;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 1279px) {
    .footer__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
    }
}

@media screen and (max-width: 779px) {
    .footer__link {
        font-size: 14px;
    }
}