.stories__title {
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  color: #333333;
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1%;
}


@media screen and (max-width: 1279px) {
  .stories__title {
    font-size: 36px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .stories__title {
    font-size: 26px;
    padding-bottom: 22px;
  }
}