.slider__button {
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  border-radius: 10px;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px;
  transition: background-color 0.2s;
}

.slider__button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1439px) {
  .slider__button {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    border-radius: 6px;
    background-size: 10px;
  }
}
