.button-link_blue {
  color: #0C4BA0;
  background-color: #E7F0FF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%230C4BA0' fill-rule='evenodd' d='M8 0 6.59 1.41 12.17 7H0v2h12.17l-5.58 5.59L8 16l8-8-8-8Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.button-link_blue:hover {
  color: #FFFFFF;
  background-color: #0C4BA0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%23FFFFFF' fill-rule='evenodd' d='M8 0 6.59 1.41 12.17 7H0v2h12.17l-5.58 5.59L8 16l8-8-8-8Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}