.primary-menu__list-item_empty {
    grid-column: 4;
    grid-row: auto;
    margin-bottom: 26px;
}

@media screen and (max-width: 1439px) {

    .primary-menu__list-item_empty {
        grid-column: auto;
        grid-row: auto;
        margin-bottom: 26px;
    }
}