.accordion__button {
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/benefits/accordion-opene-default.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.accordion__button:hover {
  background-image: url(../../../images/benefits/accordion-opene-hover.svg);
}

.accordion__button_close {
  background-image: url(../../../images/benefits/accordion-close-default.svg);
}

.accordion__button_close:hover {
  background-image: url(../../../images/benefits/accordion-close-default.svg);
}

.accordion__button[disabled] {
  background-image: url(../../../images/benefits/accordion-opene-disabled.svg);
}

@media screen and (max-width: 1279px) {
  .accordion__button {
    width: 32px;
    height: 32px;
  }
}
