.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 166px;
    list-style-type: none;
}

@media screen and (max-width: 1279px) {
    .footer__links {
        max-width: 500px;
    }
}

@media screen and (max-width: 779px) {
    .footer__links {
        gap: 8px;
    }
}