.donation-form__supporters-title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    color: #333333;
    width: 488px;
    text-align: center;
    padding: 38px 0 74px 0;
    margin: 0;

}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .donation-form__supporters-title {
        font-size: 26px;
        width: 531px;
        padding: 0 0 32px 0;
    }
}

@media screen and (max-width: 767px) {
    .donation-form__supporters-title {
        font-size: 18px;
        width: 300px;
        padding: 0 0 36px 0;
    }
}