.for-whom__title {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    color: #333333;
    font-size: 64px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1%;
}

@media screen and (max-width: 1279px) {
    .for-whom__title {
        font-size: 36px;
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 779px) {
    .for-whom__title {
        font-size: 26px;
        padding-bottom: 24px;
    }
}