.stories__story-a-container {
  display: flex;
  flex-direction: row;
  gap: 19px;
}

@media screen and (max-width: 1279px) {
  .stories__story-a-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .stories__story-a-container {
    flex-direction: column;
  }
}