.for-whom__button-link {
    margin-top: auto;
    padding: 12px 44px 12px 10px;
    color: #333333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%23333333' fill-rule='evenodd' d='M8 0 6.59 1.41 12.17 7H0v2h12.17l-5.58 5.59L8 16l8-8-8-8Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-position: right 10px bottom 50%;
}

.button-link:hover {
    color: #00275C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%2300275C' fill-rule='evenodd' d='M8 0 6.59 1.41 12.17 7H0v2h12.17l-5.58 5.59L8 16l8-8-8-8Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

@media screen and (max-width: 1279px) {
    .for-whom__button-link {
        padding: 12px 32px 12px 10px;
        background-size: 13.33px 13.33px;
    }
}

@media screen and (max-width: 779px) {
    .for-whom__button-link {
        padding: 12px 32px 12px 10px;
        background-size: 12px 12px;
    }
}