.stories__text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

@media screen and (max-width: 1279px) {
  .stories__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .stories__text {
    font-size: 14px;
  }
}