.donation-form {
    background: #E7F0FF;
    width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 1586px;
  padding-bottom: 100px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .donation-form {
    padding-bottom: 52px;
  }
}

@media screen and (max-width: 1280px) {
  .donation-form {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .donation-form {
    padding-bottom: 38px;
  }
}
