.donation-form {
    background: #E7F0FF;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1280px) {
    .donation-form {
        align-items: center;
    }
}
