.secondary-menu {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    width: 100%;
}

@media screen and (max-width: 1439px) {
    .secondary-menu {
        display: none;
    }
}