.donation-form__submit-button {
  text-align: center;
  background: #0C4BA0;
  border-radius: 10px;
  border: none;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  padding: 12px 36.5px;
  margin: 0;
  cursor: pointer;
}

.donation-form__submit-button:hover {
  background: #4183DC;
}

.donation-form__submit-button:focus {
  background: #00275C;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .donation-form__submit-button {
    padding: 12.5px 51.5px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .donation-form__submit-button {
    padding: 13.5px 87.5px;
    font-size: 14px;
  }
}
