.donation-form__submit-button {
    text-align: center;
    width: 194px;
    height: 48px;
    background: #0C4BA0;
    border-radius: 10px;
    border: none;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.donation-form__submit-button:hover {
    background: #4183DC;
}

.donation-form__submit-button:focus {
    background: #00275C;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .donation-form__submit-button {
        width: 200px;
        height: 44px;
    }
}

@media screen and (max-width: 767px) {
    .donation-form__submit-button {
        width: 260px;
        height: 44px;
    }
}