.donation-form__sums {
    border: none;
    display: flex;
    flex-direction: row;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 5px;
  margin: 0;
  padding: 16px 0 16px 0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .donation-form__sums {
    padding: 24px 0 19px 0;
  }
}

@media screen and (max-width: 1280px) {
  .donation-form__sums {
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .donation-form__sums {
    padding: 20px 0 16px 0;
  }
}
