.digits__title {
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
}
