.news__item {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadada;
  border-radius: 30px;
  padding: 29px 30px 28px;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
  .news__item:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .news__item {
    border-radius: 20px;
  }
}


@media screen and (max-width: 767px) {
  .news__item {
    padding: 23px 24px;
  }
}

