.donation-form__slide-button {
    width: 8px;
    height: 14px;
    box-sizing: border-box;
    background-image: url("../../../images/right-switch.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    padding: 0;
    border: none;
}

.donation-form__slide-button:hover {
    opacity: 0.6;
    transition: opacity linear 0.2s;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .donation-form__slide-button {
        width: 8.72px;
        height: 14px;
        background-image: url("../../../images/down-switch.svg");
    }
}