.social__image_place_top {
  float: right;
  bottom: 158px;
  right: 128px;
  height: 407px;
  width: 392px;
}

@media screen and (max-width: 1439px) {
  .social__image_place_top {
    bottom: calc((100vw * 40) / 768);
    right: calc((100vw * 74) / 768);
    height: calc((100vw * 175) / 768);
    width: calc((100vw * 170) / 768);
  }
}

@media screen and (max-width: 767px) {
  .social__image_place_top {
    bottom: 100px;
    right: 130px;
    height: 160px;
    width: 170px;
  }
}
