.social__image_place_bottom {
  float: right;
  top: 0;
  right: 0;
  width: 352px;
  height: 315px;
}

@media screen and (max-width: 1439px) {
  .social__image_place_bottom {
    top: 16px;
    width: calc((100vw * 184) / 768);
    height: calc((100vw * 152) / 768);
  }
}

@media screen and (max-width: 767px) {
  .social__image_place_bottom {
    top: 0;
    width: 190px;
    height: 144px;
  }
}
