.stories__content-story-short {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 977px;
}

@media screen and (max-width: 1279px) {
  .stories__content-story-short {
    gap: 6px;
  }
}

@media screen and (max-width: 767px) {
  .stories__content-story-short {
    gap: 1px;
  }
}