.directions {
  margin: auto;
  max-width: 1440px;
  padding: 100px 40px 150px;
}

@media screen and (max-width: 1279px) {
  .directions {
    padding: 50px 40px 64px;
  }
}

@media screen and (max-width: 767px) {
  .directions {
    padding: 32px 10px 64px;
  }
}