.primary-menu__list-item {
    grid-row: 1/-1;
}

@media screen and (max-width: 1439px) {

    .primary-menu__list-item {
        margin-bottom: 65px;
    }

    .primary-menu__list-item:nth-child(3) {
        grid-column: 3;
        grid-row: 1/5;
    }
}

@media screen and (max-width: 749px) {

    .primary-menu__list-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}