.donation-form__box-title {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #333333;
  padding: 0 10px;
  margin: 0;
  background-color: #FFFFFF;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .donation-form__box-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .donation-form__box-title {
    font-size: 16px;
  }
}
