.agency {
  max-width: 1440px;
  margin: auto;
  padding: 0 40px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .agency {
    padding: 0 10px;
  }
}
