.donations__donate-button {
  background: #FFFFFF;
  border-radius: 10px;
  color: #0C4BA0;
  border: 1px solid #FFF;
  padding: 11px 54px;
  box-sizing: border-box;
  max-width: 159px;
}

.donations__donate-button:hover {
  box-sizing: border-box;
  border: 1px solid #00275C;
  border-radius: 10px;
  color: #00275C;
}

.radio-button:checked + .donations__donate-button {
  background: #00275C;
  box-sizing: border-box;
  border: 1px solid #00275C;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .donations__donate-button {
    padding: 11.5px 18.5px;
    max-width: 75px;
  }
}

@media screen and (max-width: 767px) {
  .donations__donate-button {
    padding: 12.5px 43.5px;
    border-radius: 8px;
    max-width: 122px;
  }
}
