.donation-form__pay-type-button_info {
  background: url("../../../../images/Question.svg") no-repeat 219px 19px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .donation-form__pay-type-button_info {
    background-position: 207px 17px;
  }
}

@media screen and (max-width: 767px) {
  .donation-form__pay-type-button_info {
    background-position: 105px 17px;
  }
}
