.header__logo-link {
    display: block;
    width: 171.5px;
    height: 30px;
}

@media screen and (max-width: 1439px) {

    .header__logo-link {
        width: 134.65px;
        height: 24px;
        margin-right: auto;
    }
}