.primary-menu__sub-list {
    margin: 0;
    padding: 30px 0 0 0;
    list-style: none;
}

@media screen and (max-width: 1439px) {

    .primary-menu__sub-list {
        padding-top: 26px;
    }
}

@media screen and (max-width: 749px) {

    .primary-menu__sub-list {
        overflow: hidden;
        padding-top: 0;
        flex-basis: 100%;
    }
}
