.agency__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 1279px) {
  .agency__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .agency__cards {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
