.primary-menu__sub-list-item {
    margin-bottom: 20px;
}

@media screen and (max-width: 1439px) {

    .primary-menu__sub-list-item {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 749px) {

    .primary-menu__sub-list-item {
        margin-bottom: 13px;
    }
}