.donation-form__user-data {
    border: none;
    padding: 28px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-self: flex-start;
    margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .donation-form__user-data {
        gap: 16px;
        padding: 24px 0 0 0;
    }
}

@media screen and (max-width: 767px) {
    .donation-form__user-data {
        gap: 16px;
        align-self: center;
        padding-top: 25px;
    }
}