.footer__social-icons {
    margin-top: 11px;
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 1279px) {
    .footer__social-icons {
        column-gap: 4px;
        margin-bottom: 28px;
    }
}

@media screen and (max-width: 779px) {
    .footer__social-icons {
        margin-top: 8px;
    }
}