.special-projects__description {
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #333333;
  flex-grow: 1;
  max-width: 427px;
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .special-projects__description {
    font-size: 16px;
    line-height: 120%;
  }
}

@media screen and (max-width: 767px) {
  .special-projects__description {
    font-size: 14px;
    max-width: 100%;
  }
}
