.donation-form__agreements {
    border: none;
    align-self: flex-start;
    padding: 39px 0 23px 0;
    margin: 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .donation-form__agreements {
        padding: 24px 0 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .donation-form__agreements {
        padding: 24px 0 27px 0;
    }
}