.news__description {
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  line-height: 130%;
  letter-spacing: -0.001em;
  color: #333333;
  flex-grow: 1;
  margin: 0 0 60px;
}

@media screen and (max-width: 1279px) {
  .news__description {
    font-size: 16px;
    line-height: 120%;
    margin: 0 0 16px;
  }
}

@media screen and (max-width: 767px) {
  .news__description {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 20px;
  }
}