.directions__card {
  max-width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 367px;
}

@media screen and (max-width: 1279px) {
  .directions__card {
    padding: 30px;
    min-height: 0;
  }
}

@media screen and (max-width: 767px) {
  .directions__card {
    padding: 24px;
  }
}