.directions__card {
  max-width: 100%;
  min-height: 428px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 1279px) {
  .directions__card {
    min-height: 298px;
  }
}

@media screen and (max-width: 779px) {
  .directions__card {
    min-height: 234px;
    padding: 24px;
  }
}