.donation-form__pay-ways {
    border: none;
    display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin: 0;
  padding: 16px 0 41px 0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .donation-form__pay-ways {
    padding: 24px 0 48px 0;
  }
}

@media screen and (max-width: 1280px) {
  .donation-form__pay-ways {
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .donation-form__pay-ways {
    padding: 16px 0 24px 0;
    flex-direction: column;
  }
}
