.slider__button_color_blue {
  background-color: #0c4ba0;
}

.slider__button_color_blue:hover {
  background-color: #4183DC;
}

.slider__button_color_blue:active {
  background-color: #00275C;
}

.slider__button_color_blue:disabled {
  background-color: #C4C4C4;
}