.special-projects__heading {
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #333333;
  margin: 0;
  position: absolute;
  left: 70px;
  top: 30px;
}

@media screen and (max-width: 1439px) {
  .special-projects__heading {
    font-size: 16px;
    line-height: 120%;
  }
}

@media screen and (max-width: 767px) {
  .special-projects__heading {
    font-size: 14px;
    left: 35px;
  }
}
