.news__heading {
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #333333;
  margin: 0 0 50px;
}

@media screen and (max-width: 1439px) {
  .news__heading {
    font-size: 36px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .news__heading {
    font-size: 26px;
    margin-bottom: 24px;
  }
}