@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/content/content.css);
@import url(../blocks/social/social.css);
@import url(../blocks/donations/donations.css);
@import url(../blocks/for-whom/for-whom.css);
@import url(../blocks/directions/directions.css);
@import url(../blocks/benefits/benefits.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/special-projects/special-projects.css);
@import url(../blocks/stories/stories.css);
@import url(../blocks/agency/agency.css);
@import url(../blocks/news/news.css);
@import url(../blocks/donation-form/donation-form.css);
@import url(../blocks/footer/footer.css);