@import url(../vendor/normalize.css);
@import url(../blocks/benefits/benefits.css);
@import url(../blocks/benefits/__heading/benefits__heading.css);
@import url(../blocks/accordion/accordion.css);
@import url(../blocks/accordion/__element/accordion__element.css);
@import url(../blocks/accordion/__title/accordion__title.css);
@import url(../blocks/accordion/__heading/accordion__heading.css);
@import url(../blocks/accordion/__button/accordion__button.css);
@import url(../blocks/accordion/__subtitle/accordion__subtitle.css);
