@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/content/content.css);
@import url(../blocks/social/social.css);
@import url(../blocks/donations/donations.css);
@import url(../blocks/for-whom/for-whom.css);
@import url(../blocks/directions/directions.css);
@import url(../blocks/benefits/benefits.css);
@import url(../blocks/benefits/__heading/benefits__heading.css);
@import url(../blocks/accordion/accordion.css);
@import url(../blocks/accordion/__element/accordion__element.css);
@import url(../blocks/accordion/__title/accordion__title.css);
@import url(../blocks/accordion/__heading/accordion__heading.css);
@import url(../blocks/accordion/__button/accordion__button.css);
@import url(../blocks/accordion/__subtitle/accordion__subtitle.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/digits/__heading/digits__heading.css);
@import url(../blocks/digits/__card/digits__card.css);
@import url(../blocks/digits/__image/didits__image.css);
@import url(../blocks/digits/__board/digits__board.css);
@import url(../blocks/digits/__element/digits__element.css);
@import url(../blocks/digits/__title/digits__title.css);
@import url(../blocks/digits/__numeric/digits__numeric.css);
@import url(../blocks/digits/__subtitle/digits__subtitle.css);
@import url(../blocks/special-projects/special-projects.css);
@import url(../blocks/stories/stories.css);
@import url(../blocks/agency/agency.css);
@import url(../blocks/news/news.css);
@import url(../blocks/donation-form/donation-form.css);
@import url(../blocks/footer/footer.css);
