.stories__all-stories-btn {
  margin: 0;
  padding: 12px 35px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 163px;
  right: 55px;
}

@media screen and (max-width: 1279px) {
  .stories__all-stories-btn {
    position: relative;
    top: 0;
    right: 0;
    margin: 35px auto 50px;
    padding: 12px 50px;
  }
}

@media screen and (max-width: 767px) {
  .stories__all-stories-btn {
    position: relative;
    top: 0;
    right: 0;
    margin: 26px 0 32px;
    text-align: center;
  }
}