.news__image {
  width: 380px;
  height: 302px;
  margin: 0 0 30px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1279px) {
  .news__image {
    width: 274px;
    height: 212px;
  }
}

@media screen and (max-width: 767px) {
  .news__image {
    width: 252px;
    height: 192px;
  }
}
