.news__image {
  height: 302px;
  margin: 0 0 30px;
  object-fit: cover;
  object-position: center;
  width: 380px;
}

@media screen and (max-width: 1279px) {
  .news__image {
    height: 212px;
    margin: 0 0 20px;
    width: 274px;
  }
}

@media screen and (max-width: 767px) {
  .news__image {
    height: 192px;
    margin: 0 0 18px;
    width: 252px;
  }
}
