.for-whom {
    background-color: #F5F5F5;
    margin: auto;
    max-width: 1440px;
    padding: 100px 40px 150px;
}

@media screen and (max-width: 1279px) {
    .for-whom {
        padding: 50px 10px 64px;
    }
}

@media screen and (max-width: 779px) {
    .for-whom {
        padding: 32px 10px 64px;
    }
}