.for-whom__card {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 1279px) {
    .for-whom__card {
        max-width: 450px;
    }
}

@media screen and (max-width: 779px) {
    .for-whom__card {
        padding: 24px;
        max-width: 300px;
    }
}