.button-secondary_color_black {
  color: #333333;
  border: 1px solid #333333;
  transition: box-shadow 0.5 linear;
}

.button-secondary_color_black:hover {
  box-shadow: 0px 0px 0px 1px #333333
}

.button-secondary_color_black:active {
  color: #FFFFFF;
  background-color: #333333;
}