.button-secondary_color_blue {
  color: #0C4BA0;
  border: 1px solid #0C4BA0;
}

.button-secondary_color_blue:hover {
  color: #00275C;
  border: 1px solid #00275C;
}

.button-secondary_color_blue:active {
  color: #FFFFFF;
  background-color: #00275C;
}