.news__all-news-button {
  margin: 0;
  padding: 12px 35px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 17px;
  right: 40px;
}

@media screen and (max-width: 1439px) {
  .news__all-news-button {
    position: relative;
    top: 0;
    right: 0;
    margin: 35px auto 50px;
    padding: 12px 50px;
  }
}

@media screen and (max-width: 767px) {
  .news__all-news-button {
    text-align: center;
    width: 300px;
    box-sizing: border-box;
  }
}
