.news__all-news-button {
  margin: 0;
  position: absolute;
  top: 16px;
  right: 40px;
  height: 48px;
  width: 194px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

@media screen and (max-width: 1279px) {
  .news__all-news-button {
    position: unset;
    top: unset;
    right: unset;
    align-self: center;
    margin-top: 34px;
    height: 44px;
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .news__all-news-button {
    width: 300px;
    box-sizing: border-box;
  }
}
