.footer__text-yandex {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

@media screen and (max-width: 1279px) {
    .footer__text-yandex {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
    }
}

@media screen and (max-width: 779px) {
    .footer__text-yandex {
        font-size: 12px;
    }
}