.button-secondary {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ffffff;
  transition: background-color 0.2s;
}

.button-secondary:active {
  border: 0;
}

@media screen and (max-width: 1279px) {
  .button-secondary {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .button-secondary {
    font-size: 14px;
  }
}
