.footer {
    padding: 80px 172px 150px 40px;
}

@media screen and (max-width: 1279px) {
    .footer {
        padding: 58px 36px 53px 40px;
    }
}

@media screen and (max-width: 779px) {
    .footer {
        padding: 33.1px 10px 10px 10px;
    }
}