.stories__content {
  display: flex;
  gap: 22px;
  flex-direction: column;
  max-width: 977px;
}

@media screen and (max-width: 1279px) {
  .stories__content {
    gap: 19px;
  }
}

@media screen and (max-width: 767px) {
  .stories__content {
    gap: 17px;
  }
}