.news__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 440px);
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1439px) {
  .news__list {
    grid-template-columns: repeat(2, 440px);
  }
}

@media screen and (max-width: 979px) {
  .news__list {
    grid-template-columns: repeat(2, 334px);
  }
}

@media screen and (max-width: 767px) {
  .news__list {
    grid-template-columns: 300px;
    gap: 16px;
  }
}
