.footer__phones {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

@media screen and (max-width: 1279px) {
    .footer__phones {
        gap: 16px;
    }
}

@media screen and (max-width: 779px) {
    .footer__phones {
        flex-direction: row;
    }
}