.social__heading {
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #333333;
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .social__heading {
    font-size: calc((100vw * 38 ) / 768);
    letter-spacing: -0.03em;
  }
}

@media screen and (max-width: 560px) {
  .social__heading {
    font-size: 28px;
  }
}

