.social {
   padding: 0 40px 0; 
   width: 100%;
   box-sizing: border-box;
   margin: 50px auto 0;
   position: relative;
}

@media screen and (max-width: 1439px) {
  .social {
    margin-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .social {
    padding: 0 10px 0;
    margin-top: 50px;
  }
}