.social {
  box-sizing: border-box;
  margin: 50px auto 0;
  padding: 0 40px 0;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .social {
    margin-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .social {
    margin-top: 50px;
    padding: 0 10px 0;
  }
}
