.stories__quotation-mark {
  padding: 15px 12.5px 17.5px;
  align-self: flex-start;
}

@media screen and (max-width: 1279px) {
  .stories__quotation-mark {
    width: 29px;
    padding: 4px 0;
  }
}

@media screen and (max-width: 779px) {
  .stories__quotation-mark {
    width: 24px;
    padding: 4px 0;
  }
}