.directions__card-title {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-size: 34px;
  line-height: 40.8px;
  font-weight: 700;
  color: #333333;
}

@media screen and (max-width: 1279px) {
  .directions__card-title {
    font-size: 20px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .directions__card-title {
    font-size: 16px;
    padding-bottom: 10px;
  }
}