.card {
  margin: 0;
  border-radius: 30px;
}

@media screen and (max-width: 1279px) {
  .card {
    border-radius: 20px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    border-radius: 20px;
  }
}