.digits__heading {
  margin: 0;
  margin-bottom: 50px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #333333;
}

@media screen and (max-width: 1279px) {
  .digits__heading {
    font-size: 36px;
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 767px) {
  .digits__heading {
    font-size: 26px;
    margin-bottom: 24px;
  }
}
