.stories {
  margin: auto;
  max-width: 1440px;
  padding: 150px 40px 100px;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .stories {
    padding: 100px 40px 0;
  }
}

@media screen and (max-width: 779px) {
  .stories {
    padding: 64px 10px 0px;
  }
}