.donation-form__title {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #333333;
  padding: 100px 0 50px 40px;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .donation-form__title {
    font-size: 36px;
    padding: 44px 0 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .donation-form__title {
    font-size: 26px;
    padding: 31px 0 24px 0;
  }
}
